.itemDetailsPage {
    width: 100%;
    margin-top: 72px;
    height: auto;

    .page {
        width: 90%;
        height: auto;
        .item {
            width: 100%;
            padding: 5px;
            justify-content: space-evenly;
            .imgPart {
                width: 35em;
                height: 20em;
                justify-content: space-evenly;
                .imgSel {
                    width: 55px;
                    .imgs {
                        height: 50px;
                        width: 50px;
                        margin: 5px;
                        cursor: pointer;
                        border-radius: 2px;
                        border: #fff 3px solid;
                        background: var(--bg-color);

                        .smallimg {
                            height: 50px;
                            width: 50px;
                            object-fit: cover;
                        }
                    }
                }
                .bigimg {
                    cursor: pointer;
                    border-radius: 7px;
                    width: 30em;
                    height: 20em;
                    overflow: hidden;
                    object-fit: cover;
                }
            }
            .DetailsPart {
                border-radius: 7px;
                height: auto;
                background: #fff;
                width: 38em;
                .detail {
                    margin: 8px;

                    input[type="text"]{
                        outline: none;
                        border-radius: 3px;
                        border: 1px solid gray;
                        padding: 3px;
                        width: 20em;
                        font-size: 15px;
                    }

                    .showCategory{
                        width: 100%;
                        height: 70px;
                        overflow-y: scroll;
                        margin: 10px 0;
                        border: 1px solid gray;
                        border-radius: 5px;

                        &::-webkit-scrollbar {
                            height: 5px;
                            width: 5px;
                          }
                          
                          /* Track */
                          &::-webkit-scrollbar-track {
                            background: #f1f1f1; 
                          }
                           
                          /* Handle */
                          &::-webkit-scrollbar-thumb {
                            background: #888;
                            border-radius: 2px; 
                          }
                          
                          /* Handle on hover */
                          &::-webkit-scrollbar-thumb:hover {
                            background: #555; 
                          }

                        .category{
                            margin: 0 5px;
                            height: 20px;
                            border: 2px solid gray;
                            border-radius: 3px;
                            margin: 5px;
                            .catName{
                                margin: 5px;
                            }
                            .catAdd{
                                text-align: center;
                                background-color: #928f8f;
                                width: 30px;
                                cursor: pointer;
                                height: 100%;
                                font-size: 20px;
                                font-weight: 700;
                            }
                        }
                    }

                    .disc {
                        border-radius: 8px;
                        font-size: 15px;
                        margin: 7px 0;
                        width: 100%;
                        height: 7rem;
                        padding: 5px;
                        textarea{
                            border-radius: 5px;
                            outline: none;
                            border: 2px solid gray;
                            padding: 5px;
                            min-width: 95%;
                            max-width: 95%;
                            font-size: 15px;
                            min-height: 5rem;
                        }
                    }
                    h3 {
                        font-weight: 300;
                        font-size: 20px;
                        .cPrice {
                            input{
                                outline: none;
                                border-radius: 3px;
                                border: 1px solid gray;
                                padding: 3px;
                                font-size: 15px;
                            }
                            margin-left: 10px;
                            color: #000;
                        }
                        .offer {
                            input{
                                outline: none;
                                border-radius: 3px;
                                border: 1px solid gray;
                                padding: 3px;
                                font-size: 15px;
                            }
                            margin-left: 20px;
                            color: var(--green-color);
                        }
                    }

                    
                }
            }
        }

      
    }
    .save {
        width: 100%;
        margin: 20px 0;
        .btn {
            cursor: pointer;
            height: 30px;
            width: 160px;
            background-color: rgb(128, 74, 182);
            text-align: center;
    
            &:hover {
                background-color: rgb(155, 111, 199);
            }
        }
    }
}
