.DishPage{
    width: 100%;
    margin-top: 70px;

    .form_row{
        
        input,select{
    
            width: 20em;
            padding: 5px;
            margin: 10px;
    
        }
        textarea{
            max-width: 20em;
            min-width: 20em;
            min-height: 15em;
            max-height: 15em;
            padding: 5px;
            margin: 10px;
        }
    }


    button{
        cursor: pointer;
        width: 20em;
        border: none;
        margin: 10px;
        outline: none;
        padding: 10px;
        font-size: 20px;
        font-weight: 600;
        border-radius: 5px;
        background-color: rgb(15, 197, 15);
    }
}