.BookATable {
    width: 100%;
    margin-top: 70px;

    .filter-bar{
        margin: 15px 0;
        height: 3em;
        width: 90%;
        border-radius: 10px;
        background-color: #fff;
    }

    .tableDesine {
        width: 90%;

        .room {
            width: 90%;
            height: 30em;
            border-radius: 10px;
            justify-content: space-between;
            padding: 20px 10px;
            .door {
                height: 10em;
                width: 10px;
                background-color: var(--bg-color);
            }
            .reception {
                width: 30%;
                height: 30em;
                position: relative;

                .r-counter{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 10em;
                    border-top-right-radius: 50px;
                    width: 90%;
                    background-color: var(--bg-color);
                }
            }
            .tables {
                width: 68%;
                height: 30em;

                .row {
                    width: 100%;
                    height: 30em;
                    justify-content: space-between;
                  

                    .chairs {
                        height: 12em;
                        width: 30%;
                        justify-content: space-around;

                        .c-icon{
                            font-size: 40px;
                        }
                        .left-c{
                            transform: rotate(270deg);
                        }
                        .right-c{
                            transform: rotate(90deg);
                        }

                    }
                    .col1 {
                        height: 12em;
                        width: 98%;
                        cursor: pointer;
                        justify-content: space-between;
                        padding: 2px;
                        border-radius: 10px;
                        transition: all ease 1s;

                        &:hover{
                            background-color: #ccc7c7;
                            scale: 1.02;
                        }
                        // .chairs {
                        //     height: 12em;
                        //     width: 30%;
                        //     justify-content: space-around;

                        //     .c-icon{
                        //         font-size: 40px;
                        //     }
                        //     .left-c{
                        //         transform: rotate(270deg);
                        //     }
                        //     .right-c{
                        //         transform: rotate(90deg);
                        //     }

                        // }

                        .table {
                            width: 38%;
                            height: 12em;
                            .shape-T{
                                width: 98%;
                                background-color: var(--bg-color);
                                height: 9em;
                                border-radius: 10px;
                            }
                        }
                    }
                    .col2 {
                        cursor: pointer;
                        height: 8em;
                        width: 98%;
                        padding: 2px;
                        border-radius: 10px;
                        transition: all ease 1s;

                        &:hover{
                            background-color: #ccc7c7;
                            scale: 1.02;
                        }
                        .table {
                            width: 38%;
                            height: 8em;
                            .shape-T{
                                width: 98%;
                                background-color: var(--bg-color);
                                height: 6em;
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}


.TableBookPop{
    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #00000018;
    height: 100vh;
    backdrop-filter: blur(5px);
    .bookTablecont{
        // border: 1px solid black;
        border-radius: 12px;
        background-color: var(--bg-color);
        width: 50%;
        height: 90vh;

        -webkit-box-shadow: 10px 10px 15px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 15px -6px rgba(0,0,0,0.75);
box-shadow: 10px 10px 15px -6px rgba(0,0,0,0.75);

    }
}